{% extends '_base.html' %}

{% block content %}

    <div class="d-flex flex-column align-items-center justify-content-between">

        <div>
            <h1>Usage History</h1>
            <h2 class="fs-1">Card: <span class="text-info">{{card}}</span> </h2>
        
            {% if payments %}
                {% for payment in payments %}
                    <div class="">
                        <p>{{payment.updated_at}}</p>
                        <p>Spent <span class="fw-bold">{{payment.price}}$</span></p>
                        {% if payment.comment %}
                            <p>Comment: {{payment.comment}}</p>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center fw-bold">No history, yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
